main {
    background-color: #1ABC9C;
    color: white;
    margin-top: 106px;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 2rem;
    }

    main {
        height: calc(100vh - 96px);
        margin-top: 96px;
    }

}

@media screen and (max-width:345px) {
    h2 {
        font-size: 1.5rem;
    }

    main {
        height: 100vh;
        margin-top: 86px;
    }
}