.navbar {
    transition: 0.3s all ease-in-out;

}

.navbar-brand,
.navbar-toggler {
    font-size: 2rem;
}

.navbar-brand,
.nav-item {
    font-weight: 700;
}

.nav-item {
    font-size: 1rem;
}

.navbar-toggler {
    border-width: 0;
    box-shadow: 0 0 0;
}

.nav-link {
    width: fit-content;
    padding: 5px;
}

.activeLink {
    background-color: #1ABC9C;
    border-radius: 6px;
}

@media screen and (max-width:767px) {

    .navbar-brand,
    .navbar-toggler {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:345px) {

    .navbar-brand,
    .navbar-toggler {
        font-size: 1.2rem;
    }

    .nav-item {
        font-size: 0.8rem;
    }
}