main {
    background-color: white;
    color: #2C3E50;
    margin-top: 106px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 100vw;
    min-height: 100vh;

}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.form-control {
    margin-bottom: 60px;
}

.form-control:focus {
    box-shadow: 0 0 0;
}

form {
    width: 65%;
}

button {
    background-color: #1ABC9C;
    padding: 8px 15px;
    border-width: 0;
    font-weight: 500;
    transition: 0.2s all ease-in;
}

button:hover {
    background-color: #44ccb1;
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 2rem;
    }

    main {
        margin-top: 96px;
    }

    form {
        width: 70%;
    }

}

@media screen and (max-width:345px) {
    h2 {
        font-size: 1.5rem;
    }

    main {
        margin-top: 86px;
    }

    form {
        width: 90%;
    }
}