main {
    background-color: white;
    color: #2C3E50;
    margin-top: 106px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 100vw;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.overlay {
    background-color: #1ABC9C;
    opacity: 0;
    transition: 0.2s all ease-in;
}

.overlay:hover {
    opacity: 0.9;
    cursor: pointer;
}

i {
    font-size: 6rem;
    color: white;
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 2rem;
    }

    main {
        margin-top: 96px;
    }

}

@media screen and (max-width:345px) {
    h2 {
        font-size: 1.5rem;
    }

    main {
        margin-top: 86px;
    }

}